/* Misc */
#body_plugin_link_tracker .clearfix { clear:both; }
#body_plugin_link_tracker .right { float:right !important; }
#body_plugin_link_tracker h3 { margin-top:25px; }
#body_plugin_link_tracker p { font-size:13px; line-height:18px; color:#444; }

/* Data table */
#body_plugin_link_tracker div.data-table { 
	position:relative; 
	margin-top:20px;
}
#body_plugin_link_tracker div.data-table ul {
	list-style:none;
	margin:0;
	padding:0;
	color:#444;
}

#body_plugin_link_tracker div.data-table p {
	color:#555;
	margin:10px 0;
	font-size:13px;
}

/* Data table head */
#body_plugin_link_tracker div.data-table div.head { 
	position:relative; 
	background:#ececec url('images/table-head-bg.gif') repeat-x left top;
	padding:7px 0;
	border:1px solid #ddd;
	border-radius:5px 5px 0 0;
}
#body_plugin_link_tracker div.data-table div.head ul li.col { 
	float:left;
	font-size:13px;
	font-weight:bold;
}

/* Data table body */
#body_plugin_link_tracker div.data-table div.body { position:relative; }
#body_plugin_link_tracker div.data-table div.body ul li div.col { float:left; }
#body_plugin_link_tracker div.data-table div.body ul li {
	background-color:#f9f9f9;
	font-size:13px;
	padding:7px 0;
	border:1px solid #ddd;
	border-top:0;
	color:#666;
}
#body_plugin_link_tracker div.data-table div.body ul li:hover { background-color:#f4f4f4; }
#body_plugin_link_tracker div.data-table div.body ul li div.col a {
	font-weight:bold;
	text-decoration:none;
	color:#21759B;
}
#body_plugin_link_tracker div.data-table div.body ul li div.col a:hover { text-decoration:underline; }

/* Pagination */
#body_plugin_link_tracker div.pagination {
	position:relative;
	margin:15px 0;
	font-size:13px;
}
#body_plugin_link_tracker div.pagination a {
	text-decoration:none;
	color:#333;
}
#body_plugin_link_tracker div.pagination a,
#body_plugin_link_tracker div.pagination b {
	background:#eee;
	border:1px solid #ccc;
	display:inline-block;
	padding:3px 5px;
	font-size:12px !important;
}
#body_plugin_link_tracker div.pagination b {
	background:#555;
	border-color:#222;
	color:#fff;
}

/* Data table columns */
#body_plugin_link_tracker .col.id { width:4%; padding-left:10px; }
#body_plugin_link_tracker .col.name { width:32%; }
#body_plugin_link_tracker .col.url { width:32%; }
#body_plugin_link_tracker .col.total { width:13%; }
#body_plugin_link_tracker .col.action { width:13%; }

/* Forms */
#body_plugin_link_tracker form { }
#body_plugin_link_tracker form p {
	margin:0 0 15px 0;
	color:#444;
	font-size:13px;
}
#body_plugin_link_tracker form div.row {
	position:relative;
	padding:10px 0;
	padding-left:10px;
	border-top:1px solid #eee;
	font-size:13px !important;
	color:#444;
}
#body_plugin_link_tracker form div.row.last { border-bottom:1px solid #eee; }
#body_plugin_link_tracker form div.row div.field p {
	margin:0;
	color:#555;
}
#body_plugin_link_tracker form div.row div.field small {
	display:block;
	margin-top:5px;
}
#body_plugin_link_tracker form div.row label { 
	float:left; 
	width:20%; 
}
#body_plugin_link_tracker form div.row label span { color:#f00; font-weight:bold; }
#body_plugin_link_tracker form div.row div.field {
	float:right;
	width:80%;
}
#body_plugin_link_tracker form div.row div.field input.textbox {
	width:98%;
	max-width:350px;
    padding: 4px;
	border:1px solid #ccc;
}
#body_plugin_link_tracker form input.button {
	font-size:14px;
}
#body_plugin_link_tracker form select {
	padding:3px 5px;
	border:1px solid #ccc;
}
#body_plugin_link_tracker input#reset-stats { display:none; }



/* Clicks */
#body_plugin_link_tracker #clicks {
	font-size:12px;
	line-height:16px;
}
#body_plugin_link_tracker #clicks ul { color:#444; }
#body_plugin_link_tracker #clicks ul li {
	padding:6px 0;
	border-top:1px solid #ccc;
	padding-left:10px;
}
#body_plugin_link_tracker #clicks ul li.odd { }
#body_plugin_link_tracker #clicks ul li.even { background:#f4f4f4; }
#body_plugin_link_tracker #clicks div.links {
	position:relative;
	margin:5px 0 15px 0;
}